<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>334647849605-ata0e32ich9ci8s5nid8psfv2o7630j2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.334647849605-ata0e32ich9ci8s5nid8psfv2o7630j2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>334647849605-008645tj9u5novr4nrd9s440nn0tt93j.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCuJmJgMrLqfunN3HbxJuYNZqC1TFp-SUA</string>
	<key>GCM_SENDER_ID</key>
	<string>334647849605</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lenap.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>lenap-81ff7</string>
	<key>STORAGE_BUCKET</key>
	<string>lenap-81ff7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:334647849605:ios:4d2d2735b7e502246dafec</string>
</dict>
</plist>